# Created by .ignore support plugin (hsz.mobi)
.idea/
BankingSystem.iml
out/
/database/SaverAppointment.json
/database/BankAccount.json
/database/Customer.json
/database/JuniorAccount.json
/database/SaverAccount.json
/database/CurrentAccount.json
